<% include templates/sidebar %>
<% include templates/topbar %>
            <!-- End Navbar -->
            <div class="panel-header">
                <div class="header text-center">
                    <h1 class="title">Auto Supply Categories</h1>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <button class="btn btn-primary" style="float:right" type="button"data-toggle="modal" data-target="#myModalAdd">
                                    Add Category
                                </button>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">
                                                <th>Categories</th>
                                                <th>Action</th>
                                            </thead>
                                        
                                                
                                             <% rend.forEach( cur => { %>                                            
                                            <tr>
                                                
                                                <td id="desc"><%= cur.desc %></td> 
                                                <td>
                                                    <button data-id= "<%= cur.id %>" class="btn btn-default" type="button"data-toggle="modal" data-target="#myModal<%= cur.id %>">
                                                        <input name="id" hidden type="text" class="form-control" id="id" value=<%= cur.id %>>
                                                            <i class="now-ui-icons design-2_ruler-pencil"></i> 
                                                    </button>
                                                    
                                                    <a href="/admin/maintenance/autosupplycategory/delete/<%= cur.id %>"> <button class="btn btn-danger" type="button">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                        <input name="id" hidden type="text" class="form-control" id="id" value=<%= cur.id %> >
                                                        <!-- <a href="/admin/maintenance/autosupplycategory/<%= cur.id %>"></a> -->
                                                    </button>  
                                                    </a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5>Add Category</h5>
                                        <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                        </button>
                                    </div>
                                    <form id="add_form" method="POST" action="/admin/maintenance/autosupplycategory" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        <fieldset>
                                            <div class="form-group">
                                                <center>
                                                    <label class="col-lg-5 control-label">Category</label>
                                                    <div class="col-lg-12">
                                                        <input name="desc" type="text" class="form-control" id="desc" placeholder="Category">
                                                    </div></br> 
                                                </center>
                                        </div>
                                        <hr>
                                        </fieldset>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" style="margin-left:80%" class="btn btn-primary"> Submit </button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <% rend.forEach( cur => { %>  
                        <div class="modal fade" id="myModal<%= cur.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5>Edit Category</h5>
                                        <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <fieldset>
                                            <div class="form-group">
                                                <center>
                                                    
                                                <form id="edit_form" method="POST" action="/admin/maintenance/autosupplycategory/edit/<%= cur.id %>" enctype="multipart/form-data">
                                                        <label class="col-lg-5 control-label">Category</label>
                                                        <div class="col-lg-12">
                                                            <input name="id" hidden type="text" class="form-control" value="<%= cur.id %>" >
                                                            <input name="descr" type="text" class="form-control" value="<%= cur.desc %>" placeholder="Category">
                                                        </div></br> 
                                                    </center>
                                            </div>
                                        <hr>
                                        </fieldset>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" style="margin-left:80%" class="btn btn-primary" onclick="check( 'edit_form' )"> Submit </button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    <!-- End of Modal -->
            <footer class="footer">
                <div class="container-fluid">
                </div>
            </footer>
        </div>
    </div>
</body>

<!--   Core JS Files   -->
<script src="/assets/js/core/jquery.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="/assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/assets/js/now-ui-dashboard.js?v=1.0.1"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="/assets/demo/demo.js"></script>

</html>
