<% include templates/mechanicsidebar %>
<% include templates/topbar %>
<% include templates/footer %>
            <!-- End Navbar -->
            <div class="panel-header panel-header-sm">
            </div> 
            <div class="content">
                <div class="row">
                    
                    
                  <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                            <h5 class="card-category">Offenses And Penalties</h5>
                            <h4 class="card-title"></h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                              <table class="table">
                                <thead class=" text-primary">
                                  <th>Name</th>
                                  <th>Classification</th>
                                  <th>Offense</th>
                                  <th>Amount of Penalty</th>
                                  <th>Action</th>
                                </thead>
                                <% offs_and_penalties.forEach( cur => { %>
                                    <tr id="r<%= cur.offense_rec_id %>">
                                        <td id="id" hidden><%= cur.offense_rec_id %></td>
                                        <td><%= cur.driver_ln + ", " + cur.driver_fn + " " + cur.driver_mn %></td>
                                        <td><%= cur.offensecat_desc %></td>
                                        <td><%= cur.offense_no %></td>
                                        <td id="amount"><%= cur.penalty_amount %></td>
                                        <td>
                                            <div class="">
                                                <button class="btn btn-round btn-icon btn-sm btn-default" type="button" data-toggle="modal" data-target="#myModal1" onclick="edit( 'r<%= cur.offense_rec_id %>', 'edit_form' )">
                                                <i class="now-ui-icons design-2_ruler-pencil"></i> 
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>
                              </table>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                            <h5 class="card-category">Deadlines</h5>
                            <h4 class="card-title"></h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                              <table class="table">
                                <thead class=" text-primary">
                                  <th>Unit</th>
                                  <th>Deadline</th>
                                  <th>Status</th>
                                </thead>
                                <% deadlines.forEach( cur => { %>
                                    <tr>
                                        <td><%= cur.unitplate_no %></td>
                                        <% date = !cur.for_repairs_deadline? "WARRANTY REPAIR": cur.for_repairs_deadline %>
                                        <td><%= date %></td>
                                        <td><%= cur.for_repairs_status %></td>
                                    </tr>
                                    <% }) %>
                              </table>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
        
                </div>
            </footer>
        </div>
    </div>

    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Edit Amount</h5>
                        <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                        </button>
                </div>
                <form id="edit_form" method="POST" action="/mechanic" enctype="multipart/form-data">
                <input type="hidden" name="id" id="id">
                <div class="modal-body">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-lg-12 control-label">Amount</label>
                                    <div class="col-md-64">
                                        <input type="text" class="form-control" name="amount" id="amount">
                                    </div>
                                </div>
                            </div>
                        </center>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" style="margin-left:80%"> Submit </button>
                </div>
                </form>
            </div>                                                            
        </div>
    </div>
    <script>
    $(document).ready(function(){
        var $this = $(this)
        $('#mechanicdashboard').addClass('active');
    })
    </script>
    <% include templates/functions %>
</body>