<% include templates/sidebar %>
<% include templates/topbar %>
<% include templates/footer %>
            <!-- End Navbar -->
            <div class="panel-header">
                <div class="header text-center">
                    <h1 class="title">Staff</h1>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                 <!-- <a href="/admin/maintenance/addstaff">  -->
                                    <button class="btn btn-primary" id="addbutton" style="float:right" type="button" data-toggle="modal" data-target="#myModal1" >
                                        Add Staff
                                    </button>
                                 <!-- </a> -->
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead class=" text-primary">
                                                <th hidden>Fname</th>
                                                <th>Name</th>
                                                <th>Staff Type</th>
                                                <th>Action</th>
                                            </thead>
                                            <tbody id="data">
                                            <% staffs.forEach( cur => { %>
                                            <tr id="r<%= cur.staff_id %>">
                                                <td id="fname" hidden><%= cur.staff_fn %></td>
                                                <td><%= cur.staff_ln + ", " + cur.staff_fn + " " + cur.staff_mn %></td>
                                                <td><%= cur.staff_type_desc %></td>
                                                <td>
                                                    <button class="btn btn-round btn-icon btn-sm btn-info" type="button" onclick="
                                                        javascript: window.location = '/admin/maintenance/staffinfo?staff=<%= cur.staff_id %>'">
                                                        <i class="now-ui-icons design_bullet-list-67"></i>
                                                    </button>
                                                     <button class="btn btn-round btn-icon btn-sm btn-danger" type="button" onclick="del_rec(<%= cur.staff_id %>)">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                        </button>  
                                                    </a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                            </tbody>
                                        </table>
                                        <form id="delete_form" method="POST" action="/admin/maintenance/staff/delete">
                                            <input type="hidden" id="id" name="id">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5>Add a Staff</h5>
                                        <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                        </button>
                                    </div>
                                    <form id="add_form" method="POST" action="/admin/maintenance/staff" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        <fieldset>
                                             <% if( !fform ) { %>
                                            <center>
                                                <h5>Name</h5>
                                            </center>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">First Name*</label>
                                                        <div class="col-md-12">
                                                            <input name="fname" type="text" class="form-control" placeholder="First Name" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Middle Name</label>
                                                        <div class="col-md-12">
                                                            <input name="mname" type="text" class="form-control" placeholder="Middle">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Last Name*</label>
                                                        <div class="col-md-12">
                                                            <input name="lname" type="text" class="form-control" placeholder="Last Name" required>
                                                        </div></br>
                                                    </div>
                                                </div>
                                            
                                            <hr>
                                            <center>
                                                <h5>Basic Information</h5>
                                            </center>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Birthday*</label>
                                                        <div class="col-md-12">
                                                            <input name="bday" type="date" class="form-control" placeholder="Matt Pogi" required>
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Contact Number*</label>
                                                        <div class="col-md-12">
                                                            <input name="contact" type="text" class="form-control" placeholder="Contact Number" required>
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Gender</label>
                                                        <div class="radio">
                                                            <input type="radio" name="sex" id="radio1" value="Male" checked>
                                                                <label for="radio1">
                                                                    Male
                                                                </label></br>
                                                            <input type="radio" name="sex" id="radio2" value="Female">
                                                                <label for="radio2">
                                                                    Female
                                                                </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Address*</label>
                                                        <div class="col-md-12">
                                                            <input name="address" type="text" class="form-control" placeholder="Address" required>
                                                        </div></br>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="inputUnitType" class="col-lg-12 control-label">Staff Type*</label>
                                                        <div class="col-lg-12">
                                                            <select name="stype" class="form-control" required>
                                                                <option disabled="" selected=""></option>
                                                                <option value="3">Collector</option>
                                                                <option value="2">Dispatcher</option>
                                                                <option value="1">Mechanic</option>
                                                            </select>
                                                        </div></br>
                                                    </div>
                                                </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="inputUnitType" class="col-lg-12 control-label">Password</label>
                                                    <div class="col-lg-12">
                                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                                    </div></br>
                                                    <button type="button" class="form-control" onclick="genpass( 'add_form' )">Generate Password</button>
                                                    <button id="status" type="button" class="form-control" onclick="flip( 'add_form' )">Show</button>
                                                </div>
                                            </div>
                                             <% } else { %>
                                            <center>
                                                <h5>Name</h5>
                                            </center>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">First Name*</label>
                                                        <div class="col-md-12">
                                                            <input name="fname" type="text" class="form-control" placeholder="First Name" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Middle Name</label>
                                                        <div class="col-md-12">
                                                            <input name="mname" type="text" class="form-control" placeholder="Middle">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Last Name*</label>
                                                        <div class="col-md-12">
                                                            <input name="lname" type="text" class="form-control" placeholder="Last Name" required>
                                                        </div></br>
                                                    </div>
                                                </div>
                                            
                                            <hr>
                                            <center>
                                                <h5>Basic Information</h5>
                                            </center>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Birthday*</label>
                                                        <div class="col-md-12">
                                                            <input name="bday" type="date" class="form-control" placeholder="Matt Pogi" required>
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Contact Number*</label>
                                                        <div class="col-md-12">
                                                            <input name="contact" type="text" class="form-control" placeholder="Contact Number" required>
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Gender</label>
                                                        <div class="radio">
                                                            <input type="radio" name="sex" id="radio1" value="Male" checked>
                                                                <label for="radio1">
                                                                    Male
                                                                </label></br>
                                                            <input type="radio" name="sex" id="radio2" value="Female">
                                                                <label for="radio2">
                                                                    Female
                                                                </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Address*</label>
                                                        <div class="col-md-12">
                                                            <input name="address" type="text" class="form-control" placeholder="Address" required>
                                                        </div></br>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="inputUnitType" class="col-lg-12 control-label">Staff Type*</label>
                                                        <div class="col-lg-12">
                                                            <select name="stype" class="form-control" required>
                                                                <option disabled="" selected=""></option>
                                                                <option value="3">Collector</option>
                                                                <option value="2">Dispatcher</option>
                                                                <option value="1">Mechanic</option>
                                                            </select>
                                                        </div></br>
                                                    </div>
                                                </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="inputUnitType" class="col-lg-12 control-label">Password</label>
                                                    <div class="col-lg-12">
                                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                                    </div></br>
                                                    <button type="button" class="form-control" onclick="genpass( 'add_form' )">Generate Password</button>
                                                    <button id="status" type="button" class="form-control" onclick="flip( 'add_form' )">Show</button>
                                                </div>
                                            </div>
                                            <% } %>
                                            <hr>
                                        </fieldset>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" style="margin-left:80%" class="btn btn-primary"> Submit </button>
                                    </div>
                                    </form>
                                </div>  
                            </div>
                        </div>
                        <!-- <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5>Basic Information</h5>
                                            <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                            </button>
                                    </div>
                                    <form id="edit_form" method="POST" action="/admin/maintenance/driver/edit" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            <fieldset>
                                            <center>
                                                <h5>Basic Information</h5>
                                            </center>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Birthday</label>
                                                        <div class="col-md-12">
                                                            <input type="date" name="bday" id="bday" class="form-control" placeholder="Matt Pogi">
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Contact Number</label>
                                                        <div class="col-md-12">
                                                            <input type="number" name="contact" id="contact" class="form-control" placeholder="Contact Number">
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Gender</label>
                                                        <div class="radio">
                                                            <input type="radio" name="sex" id="radio1" value="Male">
                                                                <label for="radio1">
                                                                    Male
                                                                </label></br>
                                                            <input type="radio" name="sex" id="radio2" value="Female" checked="">
                                                                <label for="radio2">
                                                                    Female
                                                                </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Address</label>
                                                        <div class="col-md-12">
                                                            <input type="text" name="address" id="address" class="form-control" placeholder="Address">
                                                        </div></br>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <center>
                                                <h5></h5>
                                            </center>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Staff Type</label>
                                                        <div class="col-md-12">
                                                            <input type="text" name="" class="form-control" placeholder="Staff Type">
                                                        </div></br>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </fieldset>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" style="margin-left:80%" onclick="check( 'edit_form' )"> Submit </button>
                                            </div>
                                            </form>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                        <!-- <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5>Edit a Staff</h5>
                                        <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                        </button>
                                    </div>
                                    <form id="edit_form" method="POST" action="/admin/maintenance/driver" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        <fieldset>
                                            <center>
                                                <h5>Name</h5>
                                            </center>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">First Name</label>
                                                        <div class="col-md-12">
                                                            <input type="text" name="fname" id="fname" class="form-control" placeholder="First Name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Middle Name</label>
                                                        <div class="col-md-12">
                                                            <input type="text" name="mname" id="mname" class="form-control" placeholder="Middle">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Last Name</label>
                                                        <div class="col-md-12">
                                                            <input type="text" name="lname" id="lname" class="form-control" placeholder="Last Name">
                                                        </div></br>
                                                    </div>
                                                </div>
                                            
                                            <hr>
                                            <center>
                                                <h5>Basic Information</h5>
                                            </center>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Birthday</label>
                                                        <div class="col-md-12">
                                                            <input type="date" id="bday" name="bday" class="form-control" placeholder="Matt Pogi">
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Contact Number</label>
                                                        <div class="col-md-12">
                                                            <input type="number" id="contact" name="contact" class="form-control" placeholder="Contact Number">
                                                        </div></br>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Gender</label>
                                                        <div class="radio">
                                                            <input type="radio" name="sex" id="radio1" value="Female">
                                                                <label for="radio1">
                                                                    Male
                                                                </label></br>
                                                            <input type="radio" name="sex" id="radio2" value="Female" checked="">
                                                                <label for="radio2">
                                                                    Female
                                                                </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label class="col-md-12 control-label">Address</label>
                                                        <div class="col-md-12">
                                                            <input type="text" id="address" name="address" class="form-control" placeholder="Address">
                                                        </div></br>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="inputUnitType" class="col-lg-12 control-label">Staff Type*</label>
                                                    <div class="col-lg-12">
                                                        <select name="stype" id="stype" class="form-control" required>
                                                            <option disabled="" selected=""></option>
                                                            <option value="3">Collector</option>
                                                            <option value="2">Dispatcher</option>
                                                            <option value="1">Mechanic</option>
                                                        </select>
                                                    </div></br>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="inputUnitType" class="col-lg-12 control-label">Password</label>
                                                    <div class="col-lg-12">
                                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                                    </div></br>
                                                </div>
                                            </div>
                                            <div class="col-md 12">
                                                <label class="col-lg-12 control-label">Unit Type</label>
                                                <center>
                                                    <div class="checkbox">
                                                        <% utypes.forEach( cur => { %>
                                                            <input id="<%= cur.unittype_desc.toLowerCase() %>" name="<%= cur.unittype_desc.toLowerCase() %>" type="checkbox">
                                                            <label for="<%= cur.unittype_desc.toLowerCase() %>">
                                                                <%= cur.unittype_desc %>
                                                            </label>
                                                        <% }) %>
                                                    </div></br>
                                                </center>
                                            </div>  
                                            <hr>
                                        </fieldset>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" style="margin-left:80%" class="btn btn-primary"> Submit </button>
                                    </div>
                                    </form>
                                </div>                                                            
                            </div>
                        </div> -->
                    <!-- End of Modal -->
            <footer class="footer">
                <div class="container-fluid">
                </div>
            </footer>
        </div>
    </div>
    
<% include templates/functions %>
</body>
<script>
    let reSlash =/^matchthis$/i
    let reConstructor = new RegExp("^matchthis$","i")
    let pattern = "^matchthis$"
    let flags = "i"
    reConstructor = new RegExp(pattern, flags)

    console.log(reConstructor)
</script>
<script>
    $(document).ready(function(){
        var $this = $(this)
        $('#maintenance').addClass('active');
        if($this.hasClass('show')) {
            $('#maintenance.collapse').slideDown('slow','swing').removeClass('show')
        }
        else{
            $('#maintenance.collapse').slideUp('slow','swing').addClass('show')
        }
        $('#pagesMaintenance.collapse').addClass('show');
        
        $('#staff').addClass('active');
    })

    function genpass( p ) {
        af = document.getElementById( p ).elements
        alp = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"
        alpl = alp.length - 1
        pass = ""

        for( x = 0; x < 8; x ++ )
            pass += alp[ Math.round( alpl * Math.random() ) ]

        af.password.value = pass
    }

    function flip( p ) {
        af = document.getElementById( p ).elements
        if( af.status.innerHTML == "Show" ) {
            af.password.setAttribute( "type", "text" )
            af.status.innerHTML = "Hide"
        } else {
            af.password.setAttribute( "type", "password" )
            af.status.innerHTML = "Show"
        }
    }
</script>
<script>
    function showHideUnitInfo() {
        if(document.getElementById('unitname2') ) {
            document.getElementById('unitinfo1').style.display='block';
        }
        else if(document.getElementById('unitname1') ) {
            document.getElementById('unitinfo2').style.display='block';
        }
        else if(document.getElementById('unitname3') ) {
            document.getElementById('unitinfo3').style.display='block';
        }
        else if(document.getElementById('unitname4') ) {
            document.getElementById('unitinfo4').style.display='block';
        }
    }
</script>
<script>
    <% if( Object.keys( fform ).length > 1 ) { %>
            document.getElementById( "addbutton" ).click()
            swal({ title: "Warning!",
                   text: "<%= fdesc %>",
                   timer: 2000,
                   type: 'warning',
                   showConfirmButton: false
                }).catch(swal.noop)
    <% } else { %>
            <% if( added == 1 ) { %>
                swal({
                    title: "Staff Successfully Added!",
                    text: "added!",
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    type: "success"
                }).catch(swal.noop)
            <% } else if( deleted == 1 ) { %>
                swal({
                    title: "Staff Successfully Deleted!",
                    // text: "added!",
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    type: "success"
                }).catch(swal.noop)
            <% } else if( deleted == 2 ) { %>
                swal({ title: "Warning!",
                   text: "<%= fdesc %>",
                   timer: 2000,
                   type: 'warning',
                   showConfirmButton: false
                }).catch(swal.noop)
            <% } %>
        // <% } %>
        function del_rec( par )
            {
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success' ,
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes, delete it!',
                    buttonsStyling: false
                }).then(function() {
                    document.getElementById( "delete_form" ).elements.id.value = par
                    document.getElementById( "delete_form" ).submit()
                }).catch(swal.noop);

            }
</script>