<% include templates/sidebar %>
<% include templates/topbar %>
            <!-- End navbar   -->
            <div class="panel-header">
                <div class="header text-center">
                    <h1 class="title">Driver</h1>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                    <button class="btn btn-primary" style="float:right" type="button"data-toggle="modal" data-target="#myModal1">
                                        Add Driver
                                    </button>
                                <h4 class="card-title"></h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <!-- <th></th> -->
                                            <!-- <th>Profile</th> -->
                                            <th>Name</th>                                
                                            <th>License Number</th>
                                            <th>License Expiration</th>
                                            <th>Unit</th>
                                            <th><center>Action</center></th>
                                        </thead>
                                        <% drivers.forEach( cur => { %>
                                        <tr id="rec<%= cur.driver_id %>">
                                            <!-- <td><%= cur.driver_id %></td> -->
                                            <!-- <td></td> -->
                                            <td><%= cur.driver_ln + ", " + cur.driver_fn + " " + cur.driver_mn %></td>
                                            <td><%= cur.driver_license %></td>
                                            <td><%= cur.driver_licexp.toDateString() %></td>
                                            <td><%= cur.unitplate_no %></td> 
                                            <td id="bday" hidden><%= cur.driver_bday.toDateString() %></td>
                                            <td id="contact" hidden><%= cur.driver_contact %></td>
                                            <td id="sex" hidden><%= cur.driver_sex %></td>
                                            <td id="address" hidden><%= cur.driver_address %></td>
                                            <td id="licreg" hidden><%= cur.driver_licreg.toDateString() %></td>
                                            <td id="utype" hidden><%= cur.unittype_desc %></td>
                                            <td id="route" hidden><%= cur.route_from + " - " + cur.route_to %></td>
                                            <td id="plateno" hidden><%= cur.unitplate_no %></td>
                                            <td>
                                                <center>
                                                <button class="btn btn-info" type="button"data-toggle="modal" data-target="#myModal2" onclick="expand_info( 'rec<%= cur.driver_id %>' )">
                                                    <i class="now-ui-icons design_bullet-list-67"></i>
                                                </button>                                                
                                                <button class="btn btn-danger" type="button"data-toggle="modal">
                                                    <i class="now-ui-icons ui-1_simple-remove"></i>
                                                </button>
                                                </center>
                                            </td>    
                                        </tr>
                                        <% }) %>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>Add a Driver</h5>
                            <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                            </button>
                        </div>
                        <form id="add_form" method="POST" action="/admin/maintenance/driver" enctype="multipart/form-data">
                        <div class="modal-body">
                            <fieldset>
                                <center>
                                    <h5>Name</h5>
                                </center>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">First Name*</label>
                                            <div class="col-md-12">
                                                <input type="text" name="fname" class="form-control" placeholder="First Name" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">Middle Name</label>
                                            <div class="col-md-12">
                                                <input type="text" name="mname" class="form-control" placeholder="Middle">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">Last Name*</label>
                                            <div class="col-md-12">
                                                <input type="text" name="lname" class="form-control" placeholder="Last Name" required>
                                            </div></br>
                                        </div>
                                    </div>
                                
                                <hr>
                                <center>
                                    <h5>Basic Information</h5>
                                </center>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">Birthday*</label>
                                            <div class="col-md-12">
                                                <input type="date" name="bday" class="form-control" placeholder="Matt Pogi" required>
                                            </div></br>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">Contact Number*</label>
                                            <div class="col-md-12">
                                                <input type="text" name="contact" class="form-control" placeholder="Contact Number" required>
                                            </div></br>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">Gender</label>
                                            <div class="radio">
                                                <input type="radio" name="gender" id="radio1" value="Male" checked>
                                                    <label for="radio1">
                                                        Male
                                                    </label></br>
                                                <input type="radio" name="gender" id="radio2" value="Female">
                                                    <label for="radio2">
                                                        Female
                                                    </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">Address*</label>
                                            <div class="col-md-12">
                                                <input type="text" name="address" class="form-control" placeholder="Last Name" required>
                                            </div></br>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <center>
                                    <h5>License</h5>
                                </center>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">License Number*</label>
                                            <div class="col-md-12">
                                                <input type="number" name="license" class="form-control" placeholder="License Number" required>
                                            </div></br>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">License Registered*</label>
                                            <div class="col-md-12">
                                                <input type="date" name="licreg" class="form-control" placeholder="License Registered" required>
                                            </div></br>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-md-4">
                                    <label class="col-md-12 control-label">Driver Type</label>
                                    <div class="radio">
                                        <input type="radio" name="dtype" id="dtype" value="1" checked="">
                                        <label for="radio3">
                                            Regular
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="dtype" id="dtype" value="2">
                                        <label for="radio4">
                                            Reliever
                                        </label>
                                    </div>
                                </div>
                                <hr>
                                <center>
                                    <h5>Unit</h5>
                                </center>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputUnitType" class="col-lg-12 control-label">Unit Type</label>
                                            <div class="col-lg-12">
                                                <select id="utype" class="form-control" onchange="udef( 'add_form' )">
                                                    <option disabled="" selected=""></option>
                                                    <% unit_types.forEach( cur => { %>
                                                        <option value="<%= cur.unittype_id %>"><%= cur.unittype_desc %></option>
                                                    <% }) %>
                                                </select>
                                            </div></br>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputUnitType" class="col-lg-12 control-label">Route</label>
                                            <div class="col-lg-12">
                                                <select id="route" class="form-control" onchange="udef( 'add_form' )">
                                                    <option disabled="" selected=""></option>
                                                    <% routes.forEach( cur => { %>
                                                        <option value="<%= cur.route_id %>"><%= cur.route_from + " - " + cur.route_to %></option>
                                                    <% }) %>
                                                </select>
                                            </div></br>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputUnitType" class="col-lg-12 control-label">Unit</label>
                                            <div class="col-lg-12">
                                                <select name="unit" id="unit" class="form-control">
                                                </select>
                                            </div></br>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" style="margin-left:80%" class="btn btn-primary"> Submit </button>
                        </div>
                        </form>
                    </div>                                                            
                </div>
            </div>
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>Basic Information</h5>
                                <button style="background: transparent; border:none;" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                </button>
                        </div>
                        <form id="infos">
                            <div class="modal-body">
                                <fieldset>
                                <center>
                                    <h5>Basic Information</h5>
                                </center>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">Birthday</label>
                                            <div class="col-md-12">
                                                <input type="text" id="bday" class="form-control" disabled>
                                            </div></br>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">Contact Number</label>
                                            <div class="col-md-12">
                                                <input type="text" id="contact" class="form-control" disabled>
                                            </div></br>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">Gender</label>
                                            <div class="col-md-12">
                                                <input type="text" id="sex" class="form-control" disabled>
                                            </div></br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">Address</label>
                                            <div class="col-md-12">
                                                <input type="text" id="address" class="form-control" disabled>
                                            </div></br>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <center>
                                    <h5>License</h5>
                                </center>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">License Registered</label>
                                            <div class="col-md-12">
                                                <input type="text" id="licreg" class="form-control" disabled>
                                            </div></br>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <center>
                                    <h5>Unit</h5>
                                </center>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group">
                                            <label class="col-md-12 control-label">Unit Type</label>
                                            <div class="col-md-12">
                                                <input type="text" id="utype" class="form-control" disabled>
                                            </div></br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group">
                                            <label class="col-md-12 control-label">Route</label>
                                            <div class="col-md-12">
                                                <input type="text" id="route" class="form-control" disabled>
                                            </div></br>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">Unit</label>
                                            <div class="col-md-12">
                                                <input type="text" id="plateno" class="form-control" disabled>
                                            </div></br>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </fieldset>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default" type="button"data-toggle="modal" data-target="#myModal3" data-dismiss="modal" aria-label="Close">
                                        Edit
                                    </button>
                                </div>
                                </form>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>

            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>Edit Driver</h5>
                                <button style="background: transparent; border:none;" type="button" data-dismiss="modal" >
                                    <span aria=-hidden="true" class="now-ui-icons ui-1_simple-remove"></span>
                                </button>
                        </div>
                        <form id="edit_form" method="POST" action="/admin/maintenance/driver/edit" enctype="multipart/form-data">
                            <div class="modal-body">
                                <fieldset>
                                <center>
                                    <h5>Name</h5>
                                </center>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">First Name</label>
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" placeholder="First Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">Middle Name</label>
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" placeholder="Middle">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">Last Name</label>
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" placeholder="Last Name">
                                            </div></br>
                                        </div>
                                    </div>
                                
                                <hr>

                                <center>
                                    <h5>Basic Information</h5>
                                </center>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">Birthday</label>
                                            <div class="col-md-12">
                                                <input type="date" class="form-control" placeholder="Matt Pogi">
                                            </div></br>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">Contact Number</label>
                                            <div class="col-md-12">
                                                <input type="number" class="form-control" placeholder="Contact Number">
                                            </div></br>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">Gender</label>
                                            <div class="radio">
                                                <input type="radio" name="radio1" id="radio1" value="option1">
                                                    <label for="radio1">
                                                        Male
                                                    </label></br>
                                                <input type="radio" name="radio1" id="radio2" value="option2" checked="">
                                                    <label for="radio2">
                                                        Female
                                                    </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">Address</label>
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" placeholder="Last Name">
                                            </div></br>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <center>
                                    <h5>License</h5>
                                </center>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">License Number</label>
                                            <div class="col-md-12">
                                                <input type="number" class="form-control" placeholder="License Number">
                                            </div></br>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label">License Registered</label>
                                            <div class="col-md-12">
                                                <input type="date" class="form-control" placeholder="License Registered">
                                            </div></br>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <center>
                                    <h5>Unit</h5>
                                </center>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputUnitType" class="col-lg-12 control-label">Unit Type</label>
                                            <div class="col-lg-12">
                                                <select class="form-control">
                                                    <option disabled="" selected=""></option>
                                                    <option>Jeep</option>
                                                    <option></option>
                                                </select>
                                            </div></br>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputUnitType" class="col-lg-12 control-label">Route</label>
                                            <div class="col-lg-12">
                                                <select class="form-control">
                                                    <option disabled="" selected=""></option>
                                                    <option>Pasig-Quiapo</option>
                                                    <option></option>
                                                </select>
                                            </div></br>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputUnitType" class="col-lg-12 control-label">Unit</label>
                                            <div class="col-lg-12">
                                                <select class="form-control">
                                                    <option disabled="" selected=""></option>
                                                    <option>ABC 1243</option>
                                                    <option></option>
                                                </select>
                                            </div></br>
                                        </div>
                                    </div>
                                  </div>
                                <hr>
                            </fieldset>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" style="margin-left:80%" onclick="check( 'edit_form' )"> Submit </button>
                                </div>
                                </form>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
            <!--End Of Modal  -->

            <footer class="footer">
                <div class="container-fluid">
    
                </div>
            </footer>
        </div>
    </div>

    <script language="javascript">
        ajax = new XMLHttpRequest()

        function genpass() {
            p = document.getElementById( "password" )
            p.value = ""
            alp = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"
            alpl = alp.length - 1
            ret = ""

            for( x = 0; x < 15; x ++ ) {
                ret += alp[ Math.round( Math.random() * alpl ) ]
            }

            p.value = ret
        }


        function udef( par ) {
            p = document.getElementById( par )
            el = p.elements
            ut = el.utype
            r = el.route
            u = el.unit
            u.innerHTML = ""

            ajax.onreadystatechange = () => {
                if( ajax.readyState == 4 ) {
                    res = ajax.responseText
                    if( res ) {
                        console.log( res )
                        res = res.split( ";" )

                        res.forEach( cur => {
                            cur = cur.split( ", " )
                            u.innerHTML += "<option value=\"" + cur[0] + "\">" + cur[1] + "</option>"
                        })
                    }
                }
            }

            ajax.open( "GET", "/admin/maintenance/driver/unitdef?utype=" + ut.value + "&route=" + r.value )
            ajax.send()
        }

        function check( form ) {
            f = document.getElementById( form )
            cont = f.elements[ "contact" ].value

            if( cont.length == 11 && cont[0] == "0" && Number( cont.substr( 1, 10 ) ) )
                f.submit()
            else
                document.getElementById( "error" ).innerHTML = "Must be a 11-digit number"
        }

        function flip() {
            p = document.getElementById( "password" )
            f = document.getElementById( "flipb" )

            if( f.innerHTML == "Show" ) {
                p.setAttribute( "type", "text" )
                f.innerHTML = "Hide"
            } else {
                p.setAttribute( "type", "password" )
                f.innerHTML = "Show"
            }
        }

        function edit( str ) {
            ch = document.getElementById( str ).children
            el = document.getElementById( "edit_form" ).elements

            el[ "id" ].value = ch[ "id" ].innerHTML
            el[ "fname" ].value = ch[ "fname" ].innerHTML
            el[ "mname" ].value = ch[ "mname" ].innerHTML
            el[ "lname" ].value = ch[ "lname" ].innerHTML
            if( ch[ "gender" ].innerHTML != "N/A" ) {
                if( ch[ "gender" ].innerHTML == "Male" )
                    el[ "gender" ][0].selected = true
                else
                    el[ "gender" ][1].selected = true
            }
            else
                el[ "gender" ].value = ""
            el[ "license" ].value = ch[ "license" ].innerHTML
            el[ "address" ].value = ch[ "address" ].innerHTML
            if( ch[ "type" ].innerHTML == "Reliever" )
                el[ "type" ][0].selected = true
            else
                el[ "type" ][1].selected = true
            el[ "contact" ].value = ch[ "contact" ].innerHTML
        };

        function del( id ) {
            var form = document.createElement( "form" )
            form.setAttribute( "method", "post" )
            form.setAttribute( "action", "/admin/maintenance/driver/delete" )
            var inp = document.createElement( "input" )
            inp.setAttribute( "type", "hidden" )
            inp.setAttribute( "name", "id" )
            inp.setAttribute( "value", id )
            form.appendChild( inp )
            document.body.appendChild( form )
            form.submit()
        }

        function expand_info( par ) {
            p = document.getElementById( par )
            pch = p.children
            i = document.getElementById( "infos" )
            iel = i.elements

            i.bday.value = pch.bday.innerHTML
            i.contact.value = pch.contact.innerHTML
            i.sex.value = pch.sex.innerHTML
            i.address.value = pch.address.innerHTML
            i.licreg.value = pch.licreg.innerHTML
            i.utype.value = pch.utype.innerHTML
            i.route.value = pch.route.innerHTML
            i.plateno.value = pch.plateno.innerHTML

        }
    </script>
</body>
   <!-- Core JS Files    -->
<script src="/assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!-- Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/  -->
<script src="/assets/js/plugins/bootstrap-switch.js"></script>
  <!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/  -->
<script src="/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!-- Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker  -->
<script src="/assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
 <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc  -->
<script src="/assets/js/now-ui-kit.js?v=1.1.0" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // the body of this function is in assets/js/now-ui-kit.js
        nowuiKit.initSliders();
    });

    function scrollToDownload() {

        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }
</script>

</html> 